body {
    font-family: 'Fjalla One';
    background-color: #ebe134;
}

header {
  padding: 20px 0;
  background-color: #1a1a1a;
  margin: 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
  color: white;
  background-color: #1a1a1a;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 20px 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  text-align: center;
  align-items: center;
  background-image: url('https://files.catbox.moe/s3h2gx.png');
  background-size: cover;
  color: #ffffff;
  height: 700px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h1 {
  font-size: 60px;
  font-weight: 700;
  color: white;
  margin: 0;
}

.jumbotron h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  color: white;
}

#coltext1 {
  border: 1px solid #000;
  background-color: white;
}

#coltext2 {
  border: 1px solid #000;
  background-color: white;
}

section .row img {
  margin: 0 0 30px;
  padding: 0 20px;
  width: 100%;
}

footer {
  font-size: 12px;
  padding: 20px 20px;
  margin: 0;
  background-color: #1a1a1a;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 20px;
  height: 20px;
}